* {font-family: monospace;}
html {height: 100%; width: 100%;}

body {
    font-size: 14px;
    margin: 1em auto;
    max-width: 400px;
    line-height: 1;
    background-color: #d4cbb5
}
hr {border: none; border-top: 2px dashed #000;}

img {
    pointer-events: none;  /* Prevent right-click selection */
    user-select: none;      /* Disable dragging (Safari) */
    -webkit-user-drag: none; /* Disable dragging (Chrome, Edge) */
}

.main-logo {
    width: auto;
    height: 256px;
}